image:
  repository: docker.io/library/ocr
  tag: "1.0"
  pullPolicy: Never

replicaCount: 1

service:
  type: ClusterIP
  port: 5001

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

ingress:
  enabled: true

httpRoute:
  enabled: true
