apiVersion: apps/v1
kind: Deployment
metadata:
  name: ocr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ocr
  template:
    metadata:
      labels:
        app: ocr
    spec:
      containers:
      - name: ocr-container
        image: docker.io/library/ocr:1.0
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        ports:
        - containerPort: 5001
        env:
          - name: AWS_S3_BUCKET_NAME
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: AWS_S3_BUCKET_NAME
                
          - name: AWS_REGION
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: AWS_REGION
          
          - name: AWS_S3_ENDPOINT
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: AWS_S3_ENDPOINT

          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: secrets
                key: AWS_ACCESS_KEY_ID

          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: secrets
                key: AWS_SECRET_ACCESS_KEY
          
