apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: docker.io/library/backend:1.0
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        ports:
        - containerPort: 8080
        env:
          - name: DB_USERNAME
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: DB_USERNAME

          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: DB_HOST
          - name: DB_NAME
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: DB_NAME
          - name: DB_PORT
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: DB_PORT

          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: secrets
                key: DB_PASSWORD
          - name: CORS_ALLOWED_ORIGIN
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: CORS_ALLOWED_ORIGIN

          - name: AWS_S3_BUCKET_NAME
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: AWS_S3_BUCKET_NAME

          - name: AWS_REGION
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: AWS_REGION

          - name: AWS_S3_ENDPOINT
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: AWS_S3_ENDPOINT

          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: secrets
                key: AWS_ACCESS_KEY_ID

          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: secrets
                key: AWS_SECRET_ACCESS_KEY
