---
- name: Install Kubernetes components via Helm
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Install cert-manager
      kubernetes.core.helm:
        name: cert-manager
        chart_repo_url: https://charts.jetstack.io
        chart_ref: cert-manager
        release_namespace: cert-manager
        create_namespace: true
        wait: true
        values:
          installCRDs: true

    - name: Install EBS CSI Driver
      kubernetes.core.helm:
        name: aws-ebs-csi-driver
        chart_repo_url: https://kubernetes-sigs.github.io/aws-ebs-csi-driver
        chart_ref: aws-ebs-csi-driver
        release_namespace: kube-system
        wait: true
        values:
          controller:
            serviceAccount:
              create: true
              name: ebs-csi-controller-sa
              annotations:
                eks.amazonaws.com/role-arn: arn:aws:iam::512740826847:role/ebs-csi-controller-sa

    - name: Install AWS Load Balancer Controller
      kubernetes.core.helm:
        name: aws-load-balancer-controller
        chart_repo_url: https://aws.github.io/eks-charts
        chart_ref: aws-load-balancer-controller
        release_namespace: kube-system
        wait: true
        values:
          clusterName: contapics
          serviceAccount:
            create: true
            name: aws-load-balancer-controller
            annotations:
              eks.amazonaws.com/role-arn: arn:aws:iam::512740826847:role/aws-load-balancer-controller