apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: node-app
          image: node:20.3-alpine
          command: ["node", "-e", "require('http').createServer((req,res)=>{res.end('Hello GitOps!')}).listen(8080)"]
          ports:
            - containerPort: 8080